<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %> <%- include ('../partials/header') %>
  <link rel="stylesheet" type="text/css" href="../public/css/producto.css" />
  <body>
    <div id="container">
        <section class="producto">
          <div class="prd-name">
            <p><%= productList[i].name %></p>
          </div>
          <div class="imagen">
            <img class="preview" src="<%= productList[i].image %>" />
          </div>
          <div class="description">
            <div class="desc">
              <p><%= productList[i].desc %></p>
            </div>
            <div class="estrellas">
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
              <i class="fa-solid fa-star estrella"></i>
            </div>
            <div class="price">
              <p>$<%= productList[i].price %></p>
            </div>
            <p class="disc">
              <% if(productList[i].disc.length == 0){ %> <%= productList[i].disc %> <%
              } else{ %> <%= productList[i].disc %>% off <% } %>
            </p>
          </div>
        </section>
      </main>
    </div>
      
  </body>
  <%- include ('../partials/footer') %>
</html>

