<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/public/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/header-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/css/header-desktop.css"
  />
  <link rel="stylesheet" type="text/css" href="/public/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/footer-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/css/footer-desktop.css"
  />
  <link rel="stylesheet" type="text/css" href="/public/css/productEdit.css" />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div id="container">
        <form
          class="fields"
          method="POST"
          action="/producto/editar?_method=PUT"
        >
          <label for="">ID: </label>
          <input
            type="number"
            name="id"
            value="<%= productList[i].id %>"
            readonly="readonly"
          />
          <label for="">Nombre: </label>
          <input type="text" name="name" value="<%= productList[i].name %>" />
          <label for="">Descripcion corta:</label>
          <input type="text" name="descs" value="<%= productList[i].descs %>" />
          <label for="">Descripcion larga:</label>
          <input type="text" name="descl" value="<%= productList[i].descl %>" />
          <label for="">Precio:</label>
          <input
            type="number"
            name="price"
            value="<%= productList[i].price %>"
          />
          <label for="">Descuento:</label>
          <input type="number" name="disc" value="<%= productList[i].disc %>" />
          <label for="">Imagen:</label>
          <input type="text" name="image" value="<%= productList[i].image %>" />
          <input class="submit" type="submit" value="Actualizar datos" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
